.ui-page-theme-a .ui-btn {
    text-shadow: none;
    font-weight: normal;
}

#resetDB {
    background-color: orangered;
    color: white;
}

#showGraph {
    text-decoration: none;
    color: #333;
}

#showGraph > button {
    background-color: dodgerblue;
    color: white
}
